.body{
  background-color: antiquewhite;
  color: black;
}
.h1{
  color: pink;
  font-size:60px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding: auto;

}
.card {
  background-color: palegoldenrod;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
}

.card img {
width: 180px;
height: 190px;
background: rgb(255, 255, 255);
padding: 50px;
border: none;
border-radius: 10px;
}